.list-item {
  display: flex;
  list-style-type: none;
  background-color: #334155;
  border: solid #f1f5f9;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  border-width: 0.1px solid;
}
.list-style {
  list-style-type: none;
  color: #ffffff;
  height: 40px;
}
.ul-button-container {
  height: 30vh;
  overflow-y: scroll;
}

button {
  border-width: 0px;
  margin-right: 10px;
  height: 25px;
  margin-top: 5px;
  text-align: center;
  padding-bottom: 30px;
}
.grey-color {
  background-color: #94a3b8;
  color: #ffffff;
}

.blue-color {
  background-color: #3b82f6;
  color: #ffffff;
}
